<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand ms-3">
        Blog
    </a>

    <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a class="nav-link me-2" href="/admin/categories">Categorias</a>
        </li>
    </ul>
</nav>