.sidenav {
    background-color: #0277BD;
    width: 200px;
}

.sidenav a {
    color: white;
}

.sidenav a i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: white;
}