<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EventosApp</title>
    <link type="text/css" rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}"/>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" th:href="@{/materialize/css/materialize.min.css}"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo" th:text="${evento.nome}">Evento</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a class="waves-effect waves-light btn" th:href="@{/eventos/}">Lista de Eventos</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container detalhes-evento">
        <div th:each="evento : ${evento}" class="row">
            <p>Nome: <span th:text="${evento.nome}"></span></p>
            <p>Local: <span th:text="${evento.local}"></span></p>
            <p>Data: <span th:text="${evento.data}"></span></p>
            <p>Horário: <span th:text="${evento.horario}"></span></p>
        </div>
    </div>

    <div class="container form-c">
        <th:block th:include="mensagem"></th:block>
        <form method="post">
            <label for="nome">Nome:</label>
            <input type="text" value="" name="nome" id="nome"/>
            <label for="cpf">CPF:</label>
            <input type="text" value="" name="cpf" id="cpf"/>
            <button type="submit" class="waves-effect waves-light btn">Adicionar Convidado</button>
        </form>

        <table th:if="not ${#arrays.isEmpty(convidados)}">
            <thead>
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        CPF
                    </th>
                    <th>
                        Deletar
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="convidado : ${convidados}">
                    <td>
                        <span th:text="${convidado.nome}"></span>
                    </td>
                    <td>
                        <span th:text="${convidado.cpf}"></span>
                    </td>
                    <td>
                        <a th:href="${(#mvc.url('EC#deletarConvidado').arg(0, convidado.cpf)).build()}"><i class="material-icons">delete</i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>



    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js" th:src="@{/materialize/js/materialize.min.js}"></script>
</body>
</html>